<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Title Here{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex flex-col min-h-screen">
    <!-- Navbar -->
    <nav class="bg-gray-800 text-white py-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="/" class="flex items-center text-xl font-bold">
                <img src="{{ url_for('static', filename='logo/logo.png') }}" alt="Logo" class="h-8 w-auto mr-2">
                FinAdvisory
            </a>
            {% if current_user.is_authenticated %}
                <ul class="flex space-x-6">
                    <li><a href="{{ url_for('find_ca')}}" class="hover:text-gray-300">Find a CA</a></li>
                    <li><a href="#" class="hover:text-gray-300">Online Consult</a></li>
                </ul>
            {% endif %}
            <ul class="flex space-x-4">
                <li><a href="{{ url_for('index')}}" class="hover:text-gray-300">Home</a></li>
                <li><a href="#" class="hover:text-gray-300">About</a></li>
                <li><a href="#" class="hover:text-gray-300">Contact</a></li>
                {% if current_user.is_authenticated %}
                    <li><a class="hover:text-gray-300" href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a class="hover:text-gray-300" href="{{ url_for('login') }}">Login</a></li>
                    <li><a class="hover:text-gray-300" href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="fixed top-0 left-0 z-50 mt-4 ml-4">
            {% for category, message in messages %}
                <div id="alert-{{ loop.index }}" class="flex items-center p-4 mb-4 rounded-lg
                    {% if category == 'success' %}
                        text-green-800 bg-green-50 dark:bg-gray-800 dark:text-green-400
                    {% elif category == 'error' %}
                        text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400
                    {% elif category == 'info' %}
                        text-blue-800 bg-blue-50 dark:bg-gray-800 dark:text-blue-400
                    {% elif category == 'warning' %}
                        text-yellow-800 bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300
                    {% else %}
                        text-gray-800 bg-gray-50 dark:bg-gray-800 dark:text-gray-300
                    {% endif %}
                    " role="alert">
                    <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Info</span>
                    <div class="ms-3 ml-2 text-sm font-medium">
                        {{ message }}
                    </div>
                    <button type="button" class="ms-auto -mx-1.5 -my-1.5 rounded-lg focus:ring-2 p-1.5 hover:bg-gray-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-gray-300 dark:hover:bg-gray-700" data-dismiss-target="#alert-{{ loop.index }}" aria-label="Close">
                        <span class="sr-only">Dismiss</span>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                    </button>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}


    <!-- Page Content -->
    <div class="container mx-auto mt-8 flex-grow">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-gray-800 text-white py-4">
        <div class="container mx-auto">
            <p>&copy; 2024 FinAdvisory. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
