{% extends "base.html" %}

{% block title %}Find CA - FinAdvisory{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-10">
    <h1 class="text-4xl font-bold text-center mb-8 text-gray-900">Find Chartered Accountant</h1>
    <form action="{{ url_for('find_ca') }}" method="POST" class="max-w-md mx-auto mb-8">
        <div class="relative">
            <input
            type="text"
            id="name"
            name="name"
            class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-full py-3 px-4 w-full focus:outline-none focus:border-blue-500"
            placeholder="Search by CA Name"
            />
            <button type="submit" class="absolute right-4 top-1/2 transform -translate-y-1/2 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm0 2a10 10 0 100-20 10 10 0 000 20z" clip-rule="evenodd" />
                </svg>
            </button>
        </div>
    </form>

    {% if ca_list %}
        <div class="relative overflow-x-auto mt-5">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            First Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Last Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Email
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Base Fee / Session
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Book Now
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for ca in ca_list %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ ca.first_name }}
                            </td>
                            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ ca.last_name }}
                            </td>
                            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ ca.email }}
                            </td>
                            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                ₹{{ ca.base_fee }}
                            </td>
                            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <a href="{{ url_for('book_ca', ca_uuid=ca.uuid) }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Book Now<i class="fa fa-angle-double-right ml-2" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>
{% endblock %}
