{% extends "base.html" %}

{% block title %}Home - FinAdvisory{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
    <div class="container mx-auto">
        {%if current_user.is_ca %}
            <h1 class="text-3xl font-bold mb-4">Welcome, CA {{ current_user.full_name() }}!</h1>
        {% else %}
            <h1 class="text-3xl font-bold mb-4">Welcome, {{ current_user.first_name }}!</h1>
        {% endif %}
        <div class="bg-white shadow-md rounded-lg p-6">
            <p class="text-lg mb-4">Here's some information about you:</p>
            <ul class="list-disc ml-6">
                <li class="mb-2"><span class="font-bold">First Name:</span> {{ current_user.first_name }}</li>
                <li class="mb-2"><span class="font-bold">Last Name:</span> {{ current_user.last_name }}</li>
                <li class="mb-2"><span class="font-bold">Email:</span> {{ current_user.email }}</li>
                <li class="mb-2"><span class="font-bold">Phone Number:</span> {{ current_user.phone_number }}</li>
            </ul>
        </div>
    </div>
    {% endif %}
{% endblock %}
