{% extends "base.html" %}

{% block title %}Make Payment{% endblock %}

{% block content %}
<a id="pay-button" class="bg-blue-500 hover:bg-blue-200 text-white font-bold py-1 px-3 rounded-lg">
    <i class="fa-solid fa-cart-shopping mr-2"></i>Make Payment
</a>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    document.getElementById('pay-button').onclick = function(e){
        e.preventDefault();

        var options = {
            "key": "rzp_test_Q7dYN8I5O4YPOu", // Replace with your Razorpay key ID
            "amount": "100", // Amount is in paise
            "currency": "INR",
            "name": "FinAdvisory",
            "description": "Test Transaction",
            "image": "/static/logo/logo.png",
            "handler": function (response){
                // Send the payment ID to the server for verification
                fetch("/charge", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        payment_id: response.razorpay_payment_id
                    })
                })
                .then(response => response.text())
                .then(data => {
                    alert(data);
                });
            },
            "prefill": {
                "name": "Test Name",
                "email": "test@example.com"
            },
            "theme": {
                "color": "#F37254"
            }
        };

        var rzp1 = new Razorpay(options);
        rzp1.open();
    }
</script>
{% endblock %}