{% extends "base.html" %}
{% block title %}Join Us - FinAdvisory{% endblock %}
{% block content %}
<div class="container mx-auto px-4 py-10">
  <div class="max-w-lg mx-auto bg-white dark:bg-gray-800 shadow-md rounded-lg overflow-hidden">
    <h1 class="text-xl font-bold text-center mb-3 mt-8">Join 1000+ Chartered Accountants</h1>
    <h6 class="text-sm text-center mb-5">Not a CA? <a href="{{ url_for('register') }}" class="text-blue-700 dark:text-blue-400">Register here</a></h6>
    <form action="{{ url_for('register_ca') }}" method="post" class="max-w-sm mx-auto px-6 py-8">
      <div class="grid grid-cols-2 gap-x-4">
        <div class="mb-5">
          <label for="user_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
          <input type="text" id="user_name" name="user_name" class="mr-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Username" required />
        </div>
        <div class="mb-5">
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white ml-5">First Name</label>
          <input type="text" id="first_name" name="first_name" class="ml-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter First Name" required />
        </div>
        <div class="mb-5">
          <label for="middle_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Middle Name</label>
          <input type="text" id="middle_name" name="middle_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Middle Name" />
        </div>
        <div class="mb-5">
          <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white ml-5">Last Name</label>
          <input type="text" id="last_name" name="last_name" class="ml-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Last Name" required />
        </div>
        <div class="mb-5 col-span-2">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
          <input type="email" id="email" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@finadvisory.com" required />
        </div>
        <div class="mb-5 col-span-2">
          <label for="phone_number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Phone Number</label>
          <input type="phone_number" id="phone_number" name="phone_number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Phone Number" required />
        </div>
        <div class="mb-5 col-span-2">
          <label for="certificate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Certificate Number</label>
          <input type="certificate" id="certificate" name="certificate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required placeholder="Enter Certificate Number" />
        </div>
        <div class="mb-5 col-span-2">
          <label for="base_fee" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Base Fee</label>
          <input type="base_fee" id="base_fee" name="base_fee" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required placeholder="Enter Base Fee" />
        </div>
        <div class="mb-5 col-span-2">
          <label for="bank_account" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Bank Account Number</label>
          <input type="bank_account" id="bank_account" name="bank_account" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required placeholder="Enter Bank Account Number" />
        </div>
        <div class="mb-5 col-span-2">
          <label for="ifsc" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">IFSC</label>
          <input type="ifsc" id="ifsc" name="ifsc" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required placeholder="Enter IFSC" />
        </div>
        <div class="mb-5 col-span-2">
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
          <input type="password" id="password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
        </div>
        <div class="mb-5 col-span-2">
          <label for="confirm_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm Password</label>
          <input type="password" id="confirm_password" name="confirm_password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
        </div>
        <div class="flex items-start mb-5 col-span-2">
          <input id="remember" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
          <label for="remember" class="text-sm font-medium text-gray-900 dark:text-gray-300 ml-2"><a href="#" class="underline text-blue-500">Agree to the terms & conditions</a></label>
        </div>
        <div class="text-center mb-5 col-span-2">
          <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"><i class="fa-regular fa-paper-plane mr-2"></i>Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

